.amber-pjgjzc {
    background-color: #F9FAFB;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.amber-oongyo {
    padding: 32px 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.amber-md7xwx {
    gap: 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.amber-1ktbiq {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    -webkit-tap-highlight-color: transparent;
    color: inherit;
    font-size: inherit;
    line-height: 1.55;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-weight: 300;
    font-size: 32px;
    line-height: 150%;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.027px;
    color: #1F2A37;
}
.amber-s72c7 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    -webkit-tap-highlight-color: transparent;
    color: inherit;
    font-size: inherit;
    line-height: 1.55;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.035px;
    color: #6B7280;
}
.amber-17tthb5 {
    max-width: 1440px;
    margin-top: 28px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.HorizontalScroll_scroll-box-wrapper__UR6CN {
    position: relative;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (max-width: 767px){
.HorizontalScroll_scroll-box-wrapper__UR6CN {
    margin-right: -16px;
    margin-left: -16px;
}
}
.HorizontalScroll_js__bujq3 .HorizontalScroll_scroll-box-wrapper__UR6CN .HorizontalScroll_scroll-box__miW_p {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.HorizontalScroll_scroll-box-wrapper__UR6CN .HorizontalScroll_scroll-box__miW_p {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    position: relative;
    font-size: 0;
    scrollbar-width: none;
}
::-webkit-scrollbar {
    display: none;
}
@media screen and (max-width: 767px){
.HorizontalScroll_scroll-box-wrapper__UR6CN .HorizontalScroll_scroll-box__miW_p {
    padding-left: 16px;
}
}
.HorizontalScroll_scroll-box-wrapper__UR6CN .HorizontalScroll_scroll-box-item__3eLb1 {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    min-height: 44px;
    padding-right: 12px;
}
.amber-199cgq1 {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    gap: 12px;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 8px;
    height: 100%;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.amber-uc5hec:first-of-type {
    margin-left: 5px;
}
.amber-uc5hec {
    padding: 24px 32px 24px 40px;
    background-color: #ffffff;
    border-radius: 8px;
    position: relative;
    width: 270px;
    height: 100%;
    border: 1px solid #E5E7EB;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.amber-199cgq1>* {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}
.amber-1g7zb73 {
    position: absolute;
    left: -24px;
    top: calc(50% - 24px);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -2px rgba(0, 0, 0, 0.05);
    border: 1px solid #E5E7EB;
    background-color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.amber-hk5w16 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    -webkit-tap-highlight-color: transparent;
    color: #4B5563;
    font-size: inherit;
    line-height: 1.55;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.amber-1l6dvlo {
    width: 38px;
    object-fit: contain;
    aspect-ratio: 1px;
    border-style: none;
    vertical-align: middle;
}
.amber-zn390 {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; */
    -webkit-tap-highlight-color: transparent;
    color: #111928;
    font-size: inherit;
    line-height: 1.55;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    margin: 0;
    font-size: 14px;
    margin-top: 16px;
    line-height: 150%;
    text-wrap: wrap;
    white-space: normal;
}
.amber-lwxgrw {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    -webkit-tap-highlight-color: transparent;
    color: #6B7280;
    font-size: inherit;
    line-height: 1.55;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-size: 12px;
    text-wrap: wrap;
    white-space: normal;
    line-height: 150%;
    margin-top: 4px;
}
.amber-199cgq1>* {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}
.amber-1nqi2jz {
    align-self: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 6px;
    margin-right: 16px;
}
.HorizontalScroll_scroll-box-wrapper__UR6CN .HorizontalScroll_scroll-box-advancer__kxGz0 {
    z-index: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    border: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0;
    display: none;
    transition: opacity .3s;
    width: 80px;
}
.HorizontalScroll_scroll-box-advancer_Left__NcNzY {
    left: 0;
    background: #fafafa;
    background: linear-gradient(270deg, hsla(0, 0%, 98%, 0), hsla(0, 0%, 98%, .5) 25%, #fafafa);
}
.HorizontalScroll_scroll-box-wrapper__UR6CN .HorizontalScroll_scroll-box-advancer__kxGz0 .HorizontalScroll_scroll-box-advancer-inner-container__9iFwZ {
    position: relative;
    z-index: 9;
    background: #fff;
    height: 36px;
    width: 36px;
    box-shadow: 0 0 5px 0 rgba(50,50,50,.12);
    border: 1px solid #e7e7e7;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin: 0 auto;
    text-align: center;
}
.HorizontalScroll_scroll-box-advancer_Left__NcNzY .HorizontalScroll_scroll-box-advancer-inner-container__9iFwZ {
    float: left;
}
.HorizontalScroll_scroll-box-wrapper__UR6CN .HorizontalScroll_scroll-box-advancer__kxGz0 .HorizontalScroll_scroll-box-advancer_Icon__5nWXH {
    width: 8px;
    fill: #111928;
}
[data-overflowing=both]~.HorizontalScroll_scroll-box-advancer_Right__hIjHC, [data-overflowing=right]~.HorizontalScroll_scroll-box-advancer_Right__hIjHC {
    display: block;
    opacity: 1;
}

.HorizontalScroll_scroll-box-wrapper__UR6CN .HorizontalScroll_scroll-box-advancer__kxGz0 {
    z-index: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    border: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0;
    display: none;
    transition: opacity .3s;
    width: 80px;
}
@media only screen and (max-width: 435px){
    .HorizontalScroll_scroll-box-wrapper__UR6CN .HorizontalScroll_scroll-box-advancer__kxGz0 {
        visibility: hidden;
    }
    }
    
.HorizontalScroll_scroll-box-advancer_Right__hIjHC {
    right: 0;
    background: #fafafa;
    background: linear-gradient(90deg, hsla(0, 0%, 98%, 0), hsla(0, 0%, 98%, .5) 25%, #fafafa);
}
@media only screen and (max-width: 435px){
    .HorizontalScroll_scroll-box-wrapper__UR6CN .HorizontalScroll_scroll-box-advancer__kxGz0 {
        visibility: hidden;
    }
}